<div class="listing">
	<div class="<%= listing.listing_type %>"><small><%= t("models.listing_type.names.#{listing.listing_type}") %></small></div>
	
	<%=simple_format listing.description %>

	<div class="listing_code"><small><%= link_to_unless_current listing.listing_code, listing %></small></div>
</div>
