<div class="price_list">
	<h3><%= t("views.listings._payment_instructions.titles.pricing_summary") %></h3>

	<p>
		<%= t("views.listings._payment_instructions.copy.cost_per_day") %><%= t("views.application.copy.full_colon") %> <strong><%= number_to_currency(Listing::COST_PER_DAY, unit: "ZMK") %></strong><br />
	</p>
</div>
