<% title t("views.listings.show.title", id: @listing.id) %>

<header>
	<h1><%= yield :title %></h1>
</header>

<%= render "listing", listing: @listing %>

<br />

<% if user_signed_in? && !@listing.is_published? && @listing.user == current_user %>
	<%= render "payment_instructions", listing: @listing %>
<% end %>

