<header>
	<h1><%= title t("views.welcome.privacy.title") %></h1>
</header>

<p>
	<%= t("views.welcome.privacy.copy.p1", application_name: t("application.name")) %>
</p>

<p>
	<%= t("views.welcome.privacy.copy.p2", application_name: t("application.name")) %>
</p>
