<header>
	<h1><%= t("views.welcome.terms.title") %></h1>
</header>

<p>
	<%= t("views.welcome.terms.copy.p1", application_name: t("application.name")) %>
</p>

<p>
	<%= t("views.welcome.terms.copy.p2", refund_percentage: AppConfig.refund_percentage) %>
</p>

<p>
	<%= t("views.welcome.terms.copy.p3", application_name: t("application.name")) %>
</p>
