#listings {
	margin-top: 1em;
}

#listings .listing {
	padding: 1em;
	border-top: 2px solid #cccccc;
}

#listings .listing:hover {
	background: #ffffdd;
}

#listings .listing p {
	font-size: 1.3em;
	line-height: 1.5em;
}

#listings .listing .offered {
	/* background: #b7ff4e; */
	color: #008400;
	/* border-bottom: 3px double #dddddd; */
	padding: 0.25em 1em 0.25em 0.25em;
	text-align: right;
}

#listings .listing .wanted {
	/* background: #ffcc52; */
	color: #ff7d00;
	/* border-bottom: 3px double #dddddd; */
	padding: 0.25em 1em 0.25em 0.25em;
	text-align: right;
}

#listings .listing .listing_code {
	font-size: 0.95em;
	line-height: 1.5em;
	color: #999999;
}

#listings .listing .listing_code a {
	color: #999999;
}

#listings .listing .listing_code a:hover {
	color: #555555;
	text-decoration: underline;
}

#listings #listing_description {
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0.5em;
	color: #333333;
}
