#listings {
	margin-top: 1em;
}

#listings header .buttons {
	text-align: right;
}

#listings .listing {
	padding: 1em 0.5em 1em 0.5em;
	border-top: 2px solid #dddddd;
}

#listings .listing:hover {
	background: #ffffdd;
}

#listings .listing:hover span.offered,
#listings .listing:hover span.wanted {
	color: #009900;
}

#listings .listing p {
	font-size: 1.4em;
	line-height: 1.5em;
}

#listings .listing .listing_code {
	font-size: 0.95em;
	line-height: 1.5em;
	color: #999999;
}

#listings .listing .listing_meta_data {
	font-size: 0.85em;
	color: #999999;
}

#listings .listing .listing_meta_data .status_and_controls {
	float: right;
}

#listings .listing .listing_code a {
	color: #999999;
}

#listings .listing .listing_code a:hover {
	color: #333333;
	text-decoration: underline;
}

#listings #listing_description {
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0.5em;
	color: #333333;
}

#listings .action {
	padding: 17px 20px 18px;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 18px;
	padding-left: 20px;
	margin-top: 18px;
	margin-bottom: 18px;
	background-color: whiteSmoke;
	border-top: 1px solid #DDD;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DDD;
}

#listings .listing.archived p {
	text-decoration: line-through;
	
}
