<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to t("application.name"), root_path, class: "brand" %>      
			<% if user_signed_in? %>
				<%= render "signed_in_user_navigation" %>
			<% else %>
				<%= render "signed_out_user_navigation" %>
			<% end %>
		</div><!-- /container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar navbar-fixed-top -->
