<ul class="nav">
	<li id="tab_about"><%= link_to t("views.application._navigation.links.about"), about_path %></li>
</ul><!-- /.nav -->

<ul class="nav secondary-nav user">
	<li id="tab_sign_up"><%= link_to t("views.application._navigation.links.sign_up_for_an_account"), sign_up_path %></li>
	<li id="tab_sign_in"><%= link_to t("views.application._navigation.links.sign_in"), sign_in_path %></li>
</ul><!-- /.nav -->
