<ul class="nav">
	<li id="tab_about"><%= link_to t("views.application._navigation.links.about"), about_path %></li>
</ul><!-- /.nav -->

<ul class="nav secondary-nav user">
	<li id="tab_sign_in"><%= link_to t("views.application._navigation.links.create_a_listing"), "new_listing_path" %></li>
</ul>
